<footer>
  <div class="content-padding">
    <div class="row pt-5 justify-content-between">
      <div class="col-lg-4 col-md-3 footer-col">
        <h3 class="pb-3 h4">Navigazione</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="formazione.html">Formazione</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="voceterapia.html">Voceterapia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="canto.html">Canto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="recensioni.html">Recensioni</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contatti.html">Contatti</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-3">
        <h3 class="pb-3 h4">Contatti</h3>
        <div class="row align-items-center pb-3">
          <div class="col-lg-1 col-md-2 footer-contact-icon">
            <i class="fas fa-at"></i>
          </div>
          <div class="col-lg-11 col-md-10 footer-contact-p">
            <p class="card-text">elisa.fortunati@gmail.it</p>
            <p class="card-text">elisa.fortunati@virgilio.it</p>
          </div>
        </div>
        <div class="row align-items-center pb-3">
          <div class="col-lg-1 col-md-2 footer-contact-icon">
            <i class="fas fa-phone-alt"></i>
          </div>
          <div class="col-lg-11 col-md-10 footer-contact-p">
            <p class="card-text">+39 338 8210704</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-3">
        <div class="pb-5">
          <h3 class="pb-3 h4">Dove trovarmi</h3>
          <p>Verona (VR), zona centro storico</p>
        </div>
        <div>
          <h3 class="pb-3 h4">Sito personale</h3>
          <a href="http://www.elisafortunati.it/home.html" target="_blank" rel="noopener">www.elisafortunati.it</a>
        </div>
      </div>
    </div>
    <div class="py-4">
      <p class="text-center text-muted">Creato da Anna Cisotto Bertocco
        <span class="px-2">
          <a href="https://www.iubenda.com/privacy-policy/73127717"
            class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe" title="Privacy Policy">Privacy
            Policy</a>
        </span>
        ©Copyright 2021
      </p>
      <script type="text/javascript">
        (function (w, d) {
          var loader = function () {
            var s = d.createElement('script'), tag = d.getElementsByTagName('script')[0];
            s.src = 'https://cdn.iubenda.com/iubenda.js';
            tag.parentNode.insertBefore(s, tag);
          };
          if (w.addEventListener) {
            w.addEventListener('load', loader, false);
          } else if (w.attachEvent) {
            w.attachEvent('onload', loader);
          } else {
            w.onload = loader;
          }
        })(window, document);
      </script>
    </div>
  </div>
</footer>