/* GENERAL CSS*/

:root {
    --main-color: #36244F;
    --secondary-color: #FABA61;
    --light-text: #EFF1FC;
    --bg-color: #EFF1FC;
    --mute-text: #7A7E86;
}

* {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

.background-light {
    background-color: var(--bg-color);
}

.content-padding {
    padding: 1.5% 5% !important;
}

h1, h2, h3, .navbar-brand {
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
}

h1, h2 {
    color: var(--main-color) !important;
}

h3 {
    color: var(--light-text) !important;
}

p {
    line-height: 2rem;
}

.more-btn {
    color: var(--main-color) !important;
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    border-radius: 1.2rem !important;
    padding: 0.5rem 2rem !important;
    font-weight: 600 !important;
}

.more-btn span {
    padding-left: 1rem;
}

.quote-container {
    padding: 0 8rem;
}

.quote-container .left-quote img, .right-quote img {
    width: 100px;
}

.blockquote p{
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 2.3rem;
    color: var(--main-color) !important;
    font-style: italic;
    font-weight: 500;
}

.blockquote-footer {
    float: right;
    padding-right: 4rem;
    color: var(--main-color) !important;
}

.full-height {
    height: 100%;
}

.card {
    border: none !important;
    border-radius: 0.7rem !important;
    background-color: #FFF !important;
    padding: 0.6rem 0.8rem;
    transition: 0.2s;
}

.card img {
    width: 3em;
}

.card .card-title {
    color: var(--main-color) !important;
    font-weight: 600;
}

.card .card-text, .card .card-title {
    line-height: 1.5rem !important;
}

.card:hover {
    transform: scale(1.05);
}

.text-muted {
    color: var(--mute-text) !important;
}

#upBtn {
    display: none;
    position: fixed;
    bottom: 2em;
    right: 3.5%;
    z-index: 99;
    font-size: 1.5rem !important;
    background-color: var(--secondary-color) !important;
    color: var(--main-color) !important;
    text-transform: uppercase;
}

/* NAVBAR */
.navbar {
    background-color: var(--main-color) !important;
    color: var(--light-text) !important;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: var(--secondary-color) !important;
    font-weight: 500;
}

/* FOOTER */
footer {
    background-color: var(--main-color);
    color: var(--light-text);
    font-weight: 300 !important;
}

footer a {
    color: var(--light-text) !important;
    text-decoration: none;
}

.fa-at, .fa-facebook, .fa-instagram {
    font-size: 1.5rem;
}

/* HEADER HOME */
#Header {
    background-color: var(--main-color);
    text-align: center;
}

#Header p, #Header h1 {
    font-family: 'EB Garamond', serif !important;
    color: var(--light-text) !important;
}

#Header .header-subtitle {
    font-size: 2rem;
    font-weight: 500;
}

#Header h1 {
    font-size: 4rem;
}

#Header img {
    max-width: 500px;
}

/* FORMAZIONE HOME */
#Formazione {
    background-color: var(--main-color);
    color: var(--light-text) !important;
}

#Formazione h2 {
    color: var(--light-text) !important;
}

#Formazione img {
    max-width:100%;
    max-height:100%;
}

/* RECENSIONI HOME */
.fa-star {
    font-size: 2rem !important;
    color: var(--secondary-color) !important;
}









.glide__bullets {
    bottom: 0 !important;
}

.glide__bullet {
    background-color: azure !important;
}

.glide__bullet--active {
    background-color: aqua !important;
}

.glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid aqua !important;
}

.glide__slides {
    white-space: normal !important;
}

.rating .star-rating input {
    display: none;
}

.rating .star-rating label {
    font-size: 30px;
    color: #444;
    transition: all 0.2s ease;
    float: right;
}

.rating .star-rating input:not(:checked) ~ label:hover, .rating input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

.rating .star-rating input:checked ~ label {
    color: #fd4;
}

.rating #score {
    display: none;
}

